<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Breaker</title>
    <style>
    .colortext {
     color: red;
        }
    </style>
  </head>
  <body>
    {% extends "menu_template.html" %}
    {% block content %}

    <span class="colortext"> <h3><b>{{ errors }}</b></h3> </span>

    <form enctype="multipart/form-data" method="post" action="/breaker">
        <b><p>Enter the name cipher you want to break. Available:</p></b>
        <p>1) Caesar</p>
        <p><input name="cipher" /></p>

        <b><p>Upload txt file or text it yourself below:</p></b>
        <p><input type="file" name="file">


        <b><p>Enter text you want to break here:</p></b>
        <p><input name="input" /></p>

        <p><input type="submit" value="Break" /></p>
    </form>

    <b><p>The result of break:</p></b> {{ result }}
    {% endblock %}
  </body>
</html>