 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Menu Template</title>
   <style>
    div {
    background: #fc3;
    border: 2px solid black;
    padding: 20px;
   }
  </style>

 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Encoder</h1>
        <strong><nav>
          <ul class="menu">
              <li><a href="{{ url_for('main_page') }}">Home</a></li>
              <li><a href="/encode">Encoding</a></li>
              <li><a href="/decode">Decoding</a></li>
              <li><a href="/break">Breaking</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>